[source]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "webex-bot-using-ngrok"

[dev-packages]

[packages]
requests = "*"
webexteamssdk = "*"
flask = "*"
openai = "*"

[requires]
python_version = "3.11.4"
